.progressBar{
    position: relative;
    top: -25px;
    //width: 400px;
    height: 25px;
    border-radius: 8px;;
    background-color: #36a784;
}

.progressBarBG{
    width: 500px;
    height: 25px;
    border-radius: 8px;;
    background-color: white;
}
.infoText{
    margin-left: 200px;
    color: white;
}